version: '3'

services:

  workspace:
    build: ./workspace
    environment:
      - TZ=${TZ}
    volumes:
      - ../:/var/www
    networks:
      - frontend
      - backend

  nginx:
    build: ./nginx
    volumes:
      - ./nginx/sites:/etc/nginx/sites-available
      - ../:/var/www
    environment:
      - TZ=${TZ}
    ports:
      - 80:80
      - 443:443
    depends_on:
      - php56-fpm
      - php71-fpm
      - php72-fpm
    networks:
      - frontend

  php56-fpm:
    build: ./php/fpm/5.6
    volumes:
      - ../:/var/www
    environment:
      - TZ=${TZ}
    depends_on:
      - mysql
    networks:
      - frontend
      - backend

  php71-fpm:
    build: ./php/fpm/7.1
    volumes:
      - ../:/var/www
    environment:
      - TZ=${TZ}
    # ports:
    #   - 9000:9000
    depends_on:
      - mysql
    networks:
      - frontend
      - backend

  php72-fpm:
    build: ./php/fpm/7.2
    volumes:
      - ../:/var/www
    environment:
      - TZ=${TZ}
    # ports:
    #   - 9000:9000
    depends_on:
      - mysql
    networks:
      - frontend
      - backend

  mysql:
    image: mysql:5.7
    volumes:
      - db-mysql-data:/var/lib/mysql
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    environment:
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dev_db
      - MYSQL_USER=devman
      - MYSQL_PASSWORD=secret
    ports:
      - 3306:3306
    networks:
      - backend

  phpmyadmin:
    build: ./phpmyadmin
    environment:
      - TZ=${TZ}
      - PMA_ARBITRARY=1
    ports:
      - 8080:80
    networks:
      - frontend
      - backend

  mailhog:
    image: mailhog/mailhog
    environment:
      - TZ=${TZ}
    ports:
      - 1025:1025
      - 8025:8025
    networks:
      - frontend
      - backend

networks:
  frontend:
  backend:

volumes:
  db-mysql-data:
